 .login-banner {
    position: relative;
    justify-content: center;
    display: flex;
  }
  
  // .header-details {
  //   gap: 4rem;
  // }
  
  .header {
    color: #008170;
    // margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .header1 {
    color: #008170;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .header-para{
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    color: #008170;
    font-size: 1.5rem;
  }
  .header-para1{
    //margin-bottom: 1rem;
    // padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    color: #008170;
  }

  .login-page {
    padding: 10rem 0;
    display: flex;
    justify-content: center;
  }

  .side-img {
    width: 25%;
    //height: 20%;
    box-shadow: 0 0px 24px rgba( 0, 0, 0.2);


  }
  
  .forms {
    padding: 50px 30px;
    background-color: white;
    width: 50rem;
    height: 50rem;
    min-width: 400px;
    box-shadow: 0px 0px 24px rgba( 0, 0, 0.2);
  }
  
  .notif {
    color: white;
    background-color: #4F4A45;
    font-weight: bold;
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 60%;
    margin-left: 8rem;

  }
  
  .email-field {
    font-size: 2rem;
    color: #008170;
    margin-bottom: 5px;
    font-weight: medium;
  }

  .email__field{
    font-size: 1.7rem;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid #000;
  }

  .pass-field{
    font-size: 2rem;
    color: #008170;
    margin-bottom: 3px;
    font-weight: medium;
    //outline: 2px solid #ff0336;
    //outline: 2px solid currentColor;
  }

  .pass__field {
    font-size: 1.7rem;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid #000;
  }

  .btn-1 {
    background-color: #4F4A45;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: medium;
    font-size: 2rem;
    width: 60%;
    margin-bottom: 10px;
    margin-left: 8rem;
  }

  .new-user {
    display: flex;
    align-items: center;
    margin-top: 16px;
    @media (min-width: 450px) {
        flex-direction: column;
    }
      
  }
  .user-para {
    color: #008170;
    font-size: 1.5rem;
  }

  .new-signup {
    color: #008170;
    font-weight: bold;
    font-size: 1.5rem;

  }

  .sign-link {
    color: #008170;
    font-weight: bold;
    font-size: 1.5rem;
    &:hover {
      color: #4F4A45;
    }
  }

  .test-account {
    color: #008170;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    margin-left: 7%;

  }